
p{
  font-size:16px;
  line-height:1.6;
  color:#444;
}


h2{
  font-size:36px;
  font-family:'Times New Roman', serif;
  color:#333;
  text-align:center;
}


#about,
#rooms,
#services,
#famous-places{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}



/* NAVBAR */ 
#top {
    z-index: 1000;
}

.logo img {
  height: 90px;
  padding-left: 10px;     
  
}

.navbar {
  height: 100px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFDF1;
}


.nav-links{
  display:flex;
  gap:40px;
  padding-right:20px;
}
 
    

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  padding-left: 0;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding-right: 20px;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: #333;
}

@media (max-width: 768px) {
.nav-links {
    position: absolute;
    top: 100px;               
    
    
    width: 100%;
    background-color: #ffffffb5;
    display: none;         
    flex-direction: column;
    align-items: center;
    padding: 0;
    color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    
  }

  .nav-links.active {
    display: flex;         
  }

  .burger {
    display: flex;
  }
}


/* HERO */

.hero  {
  margin: 0;
  padding-top: 150PX;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  background-image: url("./assets/HERO.png"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  max-width: fit-content;
  width: 100%;
  padding: 20px ;
  
}

.hero-content h1 {
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

/* HERO -- RESERVATION */

.booking-bar {
  background: #ffffffcc;
  color: #333;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  justify-content: end;
box-sizing: content-box;
  
}

.booking-field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
   text-align: center;
}

.booking-field input {
  padding: 8px;
  min-width: 140px;
}

.guests {
  position: relative;
}

.guests-input {
  padding: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  min-width: 180px;
}

.guests-dropdown {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 220px;
  z-index: 10;
}

.guests-dropdown .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.guests-dropdown input {
  width: 60px;
}

.book-btn {
  background: #000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .hero {
    height: 100vh;
    padding-top: 120px;
    background-position: center;
  }

  .hero-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .booking-bar {
    
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding: 15px;
    margin: auto;
  }

  .booking-field input,
  .guests-input {
    min-width: 100%;
    width: 100%;
  }

  .guests-dropdown {
    top: 55px;
    width: 100%;
  }

  .book-btn {
    width: 100%;
    font-size: 16px;
    padding: 14px;
  }
}


/* ABOUT */
.about {
  
  background: #FFFDF1;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-text {
  width: 50%;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', serif;
  color: #333;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 15px;
}

.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
 
}


/*  ROOMS */

.room-container {
  
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 50px;
}


.rooms {
    text-align: center;
}

.rooms img {
  
  border-radius: 8px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.rooms-price {
  font-weight: bold;
}



@media (max-width: 768px) {

  h2 {text-align: center;
  font-family: 'Times New Roman', serif;
  }

  .room-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
    
  
  }}
/*  SERVICES */

.service{
  display: flex;
  align-items: center;
}

.service img{
  width: 50%;
  
  height: 230px;
  object-fit: cover;
  margin: 20px;
  border-radius: 8px;
}

.card-service{
  width: 50%;
  text-align: center;
}


@media (max-width:768px){

.service{
  flex-direction:column;
}

.service img{
  width:100%;
}

.card-service{
  width:100%;
}

}

/*  FAMOUS PLACES */


.famous-places-container{
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 40px;
  
  
}

.f-p-card{
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 0;
  gap: 20px;
  align-items:center;
}


.f-p-img{
  width: 50%;
  height: 350px;
  border-radius: 20px;
  
  object-fit: cover;
}

.f-p-text{
  width:50%;
  font-size:16px;
  text-align:center;
  margin:30px;
}

.f-p-text h4{
  font-size:22px;
  margin-bottom:10px;
}

.f-p-text p{
  font-size:16px;
  line-height:1.6;
}


@media (max-width:768px){

.f-p-card{
  flex-direction: column;
  text-align:center;
}


.f-p-card:nth-child(even){
  flex-direction:column-reverse;
}

.f-p-img{
  width:100%;
  height:250px;
}

.f-p-text{
  width:100%;
  height:auto;
  margin:10px 0;
}

}

/*  FOOTER */

.footer{
  background:#111111b6;
  color:white;
  padding:30px 20px;
  margin-top: 20px;
  align-items: center;
  
}


  .footer-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}


.footer-item{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:16px;
  line-height: 0.1;
}

.footer-item a{
  color:white;
  text-decoration:none;
}

.footer-bottom{
  text-align:center;
  margin-top:25px;
  font-size:14px;
  opacity:0.7;}